<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ maintitle }} {% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('style') }}
    {% endblock %}
</head>
<body>
{% block header %}
    <header class="card">
        <h1 class="card-header text-danger text-center">Annonces</h1>
    </header>
    <hr>
{% endblock %}
{% block body %}


{% endblock %}
{% block footer %}
    <hr>
    <footer class="card-footer text-danger text-center"> {{ copyright }}</footer>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
