<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ maintitle }} {% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}
    <footer> {{ copyright }}</footer>
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
