{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - Ajouter!{% endblock %}
{% block header %}
    {{ parent() }}
{% endblock %}
{% block body %}

    <h2>Ajouter une annonce</h2>

    <p>
        Attention : cette annonce sera ajoutée directement
        sur la page d'accueil après validation du formulaire.
        {{ form(advertForm) }}
    </p>

{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}