{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - affichage{% endblock %}
{% block header %}
    {{ parent() }}
{% endblock %}

{% block body %}

    {% if is_granted('ROLE_USER') %}
        <div class="text-right mb-2">
            <a href="{{ path('advert-add') }}" class="btn btn-primary">
                Nouvelle annonce
            </a>
        </div>
    {% endif %}

    {% include 'advert/_advert-table.html.twig' %}


{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}
