<div style="margin-top: 35px">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-danger">{{ button_label|default('Sauvegarder définitivement') }}</button>
    {{ form_end(form) }}
</div>
